<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="..\vendor\autoload.php"
        colors="true"
    >
    <testsuites>
        <testsuite name="Pes">
            <directory suffix="Test.php">tests/</directory>
        </testsuite>
    </testsuites>
    <logging>
        <junit outputFile="Test_reports/phpunit-log.xml" />
        <testdoxHtml outputFile="Test_reports/phpunit-log.html"/>
        <testdoxText outputFile="Test_reports/phpunit-log.txt"/>
    </logging>
</phpunit>